.add__text {
  width: 80%;
  margin: 0 auto;
  background-color: var(--main-bg-color-op-main);
  padding: 2rem;
  border-radius: 10px;
  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
  }
  &__label {
    display: flex;
    gap: 2rem;
    align-items: center;
    
  }
  &__inputs {
    display: flex;
    gap: 1rem
  }
  &__inputs__container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
  }

  &__input {
    height: 2rem;
    width: 300px;
    border-radius: 10px;
    font-size: clamp(0.5rem, 0.407rem + 0.39vw, 0.875rem);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    &:focus {
      outline: 1px solid var(--lilac-color);
    }
    &::placeholder {
      font-size: 14px;
    } 
  }
  &__textarea__wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
  &__textarea {
    min-height: 22rem;
    font-size: 18px;  
    border-radius: 10px;
    outline-color: rgb(42, 3, 78);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px white dashed;
    background-color: var(--bg-light);
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
  }
  &__not__auth{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    color: darkorange;
    cursor: pointer;
    font-size: 22px;
  }
  &__sumbit_btn_wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  &__sumbit_btn{
    background-color: var(--btn-color);
    padding: clamp(0.125rem, 0.002rem + 0.519vw, 0.625rem);
    border-radius: 5px;
    font-size: clamp(0.5rem, 0.377rem + 0.519vw, 1rem);
    text-align: center;
    // width: clamp(2.5rem, 6.883rem + 2.597vw, 10rem);
    border: none;
    color: white;
    cursor: pointer;
      &:hover {
        color:darkorange;
        box-shadow: var(--box-shadow-gl);
    }
      &__Disabled {
        background-color: var(--bg-light);
      }  
  }
  

}
small {
  color: darkorange;
}
.print__added__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: 50px;
}