.music_page_audio_player_container{
  padding-bottom: 20px;
  width: 360px;
  height: 590px;
  box-shadow: 3px 3px 6px 3px black;
  border-radius: 10px;

}
.music_page_audio_player_wrapper{
  padding:30px;
}
.music_page_track_title{
  text-align: center;
  color: darkorange
}

.music_page_audio_image {
height: 260px;
width:300px;
margin-bottom: 1rem;
border-radius: 10px;
}
.music_page_player_btn{
border: none;
background-color: transparent; 
color: white;
cursor: pointer;
position: relative;
top: 2px
}
.music_page_player_time_sign{
  display: flex;
  height: 22px;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 17px;
  padding-right: 7px;
}
.music_page_track_description{
  margin-bottom: 2rem;
  height: 58px;
  font-size: 14px;
  white-space:pre-wrap;
  
}
.music_page_player_range {
background-color: rgb(20, 2, 16);
height: 37px;
border-radius: 15px;
padding-left: 5px;
padding-right: 10px;
display: flex;
justify-content: center;
align-items: center;
} 
.music_page_player_range_timeline{
  width: 410px;
  margin-left: 10px;
}
.music_page_player_controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.music_page_player_controls_like_wrapper{
  display: flex;
  align-items: center;
  gap: 7px;
  box-shadow: black 1px 1px 1px 1px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.music_page_player_controls_like_btn{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: ease-in-out 0.2s;
}
.music_page_player_controls_like_btn:hover{
  color: darkorange;
}

.music_page_player_controls_like_btn_Active{
  border: none;
  background-color: transparent;
  color: darkorange;
  cursor: pointer;
  transition: ease-in-out 0.2s; 
}

.music_page_player_controls_btn_copy{
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: black 1px 1px 1px 1px;
  padding: 5px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-size: 14px;
}
.music_page_player_controls_btn_copy:hover{
  color: darkorange;
}
.music_page_player_controls_btn_copy_wrapper{
  display: flex;
  gap: 10px;
  align-items:center ;
}
.music_page_player_warn{
  color: darkorange;
  line-height: 20px;
}
.music_page_audio_player_edit_wrpapper{
 display: flex;
 justify-content: right;
}
.music_page_audio_player_edit_btn{
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: black 1px 1px 1px 1px;
  padding: 5px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-size: 14px; 
  opacity: 0.1;
  display: flex;
  gap: 1rem;
}
.music_page_audio_player_edit_btn:hover{
  opacity: 1;
}
.music_page_player_warn_wrapper{
  position: relative;
  background-color: rgb(64, 33, 96);
  color: darkorange;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.9;
  bottom: 47px;
  width: 290px;
  font-weight: 600;
}
.music_player_copied_temp_span{
  font-size: 12px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.music_player_copied_temp_span_Active{
  font-size: 12px;
  opacity: 0.8;
}
.music_page_player_controls_like_num{
  font-size: 12px;
  opacity: 0.8;
}
.music_page_audio_player_delete_icon{
  opacity: 0.05;
  cursor: pointer;
}
.music_page_audio_player_delete_icon:hover{
  opacity: 0.5
}