.music_page_title{
  color: darkorange;
  padding-left: 5rem;
}
.music_page_container_title_btn_wrapper{
display: flex;
  
  padding-right: 5rem;
  justify-content: space-between;
  align-items: center;
}

.music_page_add_btn{
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: black 1px 1px 1px 1px;
  padding: 15px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  height: 50px;
 
}
.music_page_add_btn:hover{
  color: darkorange;
}
.add_music_form {
  display: flex;
  flex-direction: column;
  gap: 2rem
}
.add_music_input_label{
  font-size: 16px;
}
.add_music_input {  
  height: 2rem;
  width: 280px;
  font-size: 18px;  
  border-radius: 10px;
  outline-color: rgb(42, 3, 78);
  padding-left: 20px;
  padding-right: 20px;
  border: 1px white solid;
  background-color: transparent;
  color: white;
}

.add_music_textarea{
  min-height: 4rem;
  width: 280px;
  font-size: 16px;  
  border-radius: 10px;
  outline-color: rgb(42, 3, 78);
  padding-left: 20px;
  padding-right: 20px;
  border: 1px white solid;
  background-color: transparent;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add_music_choose_image_wrapper{
 
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.add_music_choose_image_btn_wrapper{
  display: flex;
  gap: 1rem;
  
  flex-direction: column;
  
  
}
.add_music_add_track_btn{
    width: 120px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(106, 51, 161);
    color: white;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    box-shadow: black 1px 1px 1px 1px;
    border: none;    
  }

.add_music_add_track_btn:hover{
  background-color: rgb(49, 10, 87);
  color: darkorange;
}
.add_music_choose_image_container{
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.add_music_title{
  text-align: center;
  color: darkorange;
  margin-bottom: 3rem;
}
.add_music_create_btn{
  width: 160px;  
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(56, 24, 88);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;   
}
.add_music_create_btn_Disabled {
  width: 160px;  
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(39, 32, 46);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;    
}


.add_music_create_btn:hover{
color: darkorange;
}
.add_music_create_btn_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.add_music_add_track_input{
  display: none;
}
.add_music_add_track_container{
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.add_music_send_file_btn_wrapper{
  display: flex;
  justify-content: center;
}
.add_music_inputs{
  display: flex;
  flex-direction: column;
  gap: 1rem
}