.edit__music {
 
 
  &__container{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
    font-size: clamp(10px, 1.5vw, 16px);
    display: flex;
    flex-direction: column;
  }
  &__inputs__container {
  
    
  }
  &__form {
    width: 100%;
    
  }
  &__image__input{
    display: flex;
    width: 100%;
    gap:1rem
  }
 
  &__image__input__label {
    width: 100%;
    display: inline-block;
    height: 10%;
    background-color: var(--btn-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  &__submit__btn__wrapper{
    width: 100%;
    text-align: center;
    button {
      width: fit-content;
    }
  }
  &__text__input {
    height: 2rem;
    font-size: clamp(0.75rem, 0.723rem + 0.127vw, 0.875rem); 
    border-radius: 5px;
    width: 95%;
    border: 1px white solid;
    background-color: transparent;
    padding-left: 1rem;
    color: white;
    &:focus {
      outline: var(--orange-outline);
    }
  }


}
