.about__main {
  height: fit-content;
}


.about__page{
  &__techincal__info__grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

  }
  &__img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    
    float: left;
    padding-right:2rem;
    padding-bottom: 2rem;
  }
  &__greeting {
    span {
      font-size: 25px;
    }
  }
  &__contacts__container a {
    
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    &:hover {
      color: darkorange;
    }
 
  
  }
}

ul li {
  text-indent: 1rem;
}
h2 {
  text-align: center;
}


@media screen and (max-width: 480px) {
  .about__page{
    font-size: 14px;
    padding: 5px;
    &__techincal__info__grid {
      display: flex;
      flex-direction: column;
  
    }
    &__img {
      width: 140px;
      height: 260px;
      object-fit: cover;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    &__greeting {
      display: flex;
      padding: 20px;
      gap:10px;
      justify-content: space-around;
      margin: 0 auto;
      span {
        font-size: 18px;
      }
    }
  }
}