
.header{
  position: sticky;
  /* top: 0; */
  width: 100vw;
  /* z-index: 2; */
}
.header_container {
height: 110px;
background-color: #000;
background: linear-gradient(rgb(0, 0, 0), rgb(25, 0, 27));
color: ghostwhite;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
}
.header_name_wrapper{
width:500px;
height:110px;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
line-height: 50px;
}
.header_name_wrapper_label{
  font-size: 37px;
  font-family: 'Orbitron';
  line-height: 63px;
  font-weight: 400;
  color: darkorange;
}
.header_name_wrapper_sub_label{
  font-size: 14px;
  line-height: 22px;
}
.header_controls_block {
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
height: 30px;
width: 940px;
text-decoration: none;
}
.header_controls_block_single_btn {
  font-size: 14px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  background-color: transparent;
  padding: 8px;
  max-width: 7rem;
  height: 45px;
  border-radius: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}
.header_controls_block_single_btn:hover {
color: darkorange;
box-shadow: black  4px 3px 7px 0px;
background-color: rgb(27, 0, 17);
}
.header_controls_block_languages {
  height: fit-content;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.header_controls_block_languages_label {
  font-size: 14px;
  transition: ease-out 0.2s;
  height: 20px;
  text-align: center;
}
.header_controls_block_languages_label:hover {
  color: darkorange;
  cursor: pointer;
}
.header_controls_block_languages_label_Active {
  color: darkorange;
  height: 20px;
  text-align: center;
}
.header_controls_block_single_btn_link{
  text-decoration: none;
}
.header_controls_block_single_btn_Active{
  color: darkorange
}
.header_controls_block_single_btn_link_login{
  text-decoration: none;
  color: white;
}
.header_controls_block_single_btn_signin{
  font-size: 14px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  background-color: transparent;
  padding: 20px;
  height: 30px;
  max-width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header_controls_block_single_btn_signin:hover {
  color: darkorange;
  box-shadow: black  4px 3px 7px 0px;
  background-color: rgb(27, 0, 17);
  }
.header_aut_nav {
  display: flex;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  padding: 9px;
  align-items: center;
  margin-right: 50px;
  flex-direction: row;
  justify-content: flex-start;
}
.header_aut_nav_img{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.header_aut_nav_wrapper{
  display: flex;
  align-items: center;
  gap:12px;
  justify-content: space-around;
}
.header_controls_block_nav_btns_wrapper{
  display: flex;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  justify-content: center;
  padding: 6px 6px;
}

.header_aut_name_img_wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: flex-start;
}
.header_aut_nav_name_span{
  font-size: 15px;
}
.header_popover{
  position: absolute;
  background-color: rgb(27, 4, 49);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: -20px;
  right: 46rem;
  padding: 27px;
  border-radius: 10px;
  opacity: 0.9;
}
.header_popover_btns_wrapper{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.header_popover_btn{
  font-size: 14px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  background-color: rgb(81, 59, 102);
  border: none;
  color: white;
  font-weight: 600;
  padding: 14px;
  height: 20px;
  max-width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header_popover_btn:hover{
  color: darkorange
}
.header_lang_img{
  height: 24px;
  width: 24px;
}
.header_controls_languages_select{
  position: relative;
}
.header_controls_languages_popover{
  position: absolute;
  top:55px;
  left: 0;
  padding: 10px;
  background-color: rgb(34, 18, 37);;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:1rem
}