
.header{
  position: sticky;
  background-color: transparent;
  max-width: 70%;
  margin: 0 auto;
  font-size: 14px;
}
.header_container {
height: 70px;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
}
.header_icon{
  display: none;
}
.header_icon_container{
  display: flex;
  gap:10px
}

.header_name_wrapper_logo{
  background-image: linear-gradient(90deg, rgb(240, 157, 5) 0%, rgb(165, 86, 13) 25%, rgb(165, 119, 33) 67%, rgb(168, 91, 2) 90%, rgb(216, 131, 20) 100%);
background-size: 200%;
  font-family: "Notable", sans-serif;
  font-size: 36px;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0 0 12px rgba(160, 109, 15, 0.4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blinking 8s ease-in-out infinite alternate
}
.header_controls_block {
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
height: fit-content;
width: fit-content;

text-decoration: none;
position: relative;
}
.header_controls_block_single_btn {
  font-size: 13px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  border: none;
  color: white;
  background-color: transparent;
  padding: 7px;
  max-width: 7rem;
  height: fit-content;
  border-radius: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}
.header_controls_block_single_btn:hover {
color: darkorange;


}
.header_controls_block_languages {
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.header_controls_block_single_btn_link{
  text-decoration: none;
}

.header_controls_block_single_btn_link_login{
  text-decoration: none;
  color: white;
}
.header_controls_block_single_btn_signin{
  font-size: 12px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  border: none;
  color: white;
  background-color: transparent;
  padding: 5px;
  height: 30px;
  max-width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header_controls_block_single_btn_signin:hover {
  color: darkorange;
  }
.header_aut_nav {
  display: flex;
  border-radius: 10px;
  padding: 5px;
  height: fit-content;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(34, 0, 32);
}
.header_aut_nav_img{
  border-radius: 100%;
  height: 30px;
  width: 30px;
  object-fit: cover;
  cursor: pointer;
}
.header_aut_nav_wrapper{
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: space-around;
}
.header_controls_block_nav_btns_wrapper{
  display: flex;
  border-radius: 10px;
  justify-content: center;
  padding: 3px;
  background-color: var(--main-bg-color);
}

.header_aut_name_img_wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: flex-start;
}
.header_aut_nav_name_span{
  font-size: 15px;
}
.header_popover{
  position: absolute;
  background-color:rgb(48, 12, 43);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: -50px;
  left: 8%;
  text-align: center;
  padding: 17px;
  border-radius: 10px;
  
}
.header_popover_btns_wrapper{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.header_popover_btn{
  font-size: 14px;
  cursor: pointer;  
  transition: ease-out 0.2s;
  background-color: var(--main-bg-color);
  border: none;
  color: white;
  font-weight: 600;
  padding: 14px;
  height: 20px;
  max-width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header_popover_btn:hover{
  color: darkorange
}
.header_lang_img{
  height: 24px;
  width: 24px;
}

.header_controls_languages_popover{
  position: absolute;
  height: fit-content;
  background-color: rgb(51, 2, 28);
  top: 100%;
  right:0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:10px;

}
.header_controls_languages_wrapper{
  display: flex;
  gap:10px;
  font-size: 14px;
}
@keyframes blinking {
  0% { 
  background-position: 0%;
    }
  50% {
  background-position: 100%;
    }
  100% {
  background-position: 0%;
  }
  } 





@media screen and (max-width: 480px) {
  .header {
    width: 100vw;
    margin: 0;
    max-width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;

  }
  .header_container {
    align-items: flex-start;
    flex-direction: column;
    height: fit-content;
    gap:1rem;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
  }
  .header_icon{
    display: flex;
    align-items: flex-end;
    
    cursor: pointer;
    font-size: 36px; 
  }
  .header_icon_container {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
    gap:5rem;
  }
  .header_name_wrapper_logo {
    font-size: 36px;
    width: fit-content;
    text-align: center;
    
  }

  .header_controls_block{
    display: none;
  }


  .header_popover {
    z-index: 3;
  }




  .menu__container {
    width: 93%;
    // background: radial-gradient(ellipse farthest-corner at center , rgba(108, 5, 61, 1) 0%, rgba(75, 18, 67, 0.48)70%);
    background: radial-gradient(ellipse farthest-corner at center , rgb(68, 30, 73) 0%, rgba(75, 18, 67, 0.1)100%);
    overflow: hidden;
    position: absolute;
    height: 100vh;
    z-index: 50;
    font-size: 18px;
    padding: 1rem;
    
    nav a {
      text-decoration: none;
      color: inherit;
      font-size: 16px;
      width: fit-content;
    }
    nav {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap:1rem;
      box-shadow: var(--box-shadow-gl);
      padding: 20px;
      border-radius: 10px;
    }
    nav div {
      flex-direction: column;
      display: flex;
      gap:1rem
    }
    img {
      width: 20px;
    }
  }
  .menu__item {
      display: flex;
      gap:10px;
      align-items: center;
      cursor: pointer;
      font-size: 16px;
      width: fit-content;

  }

  .header_controls_block_languages {
    display: none;
  }
  .header_controls_languages_popover {
    top:0;
    flex-direction: row;
    right: -100%
  }
  .menu__section {
    color: darkorange;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

  }
  .menu__top{
    display: flex;
    width: 100%;
    font-size: 24px;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    color: darkorange;
    span {
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      :hover {
        color: darkorange;
      }
    }
  }
}


