.text_card_wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
}
.text_card_textarea{
  width: 70%;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 590px;
  overflow-y: hidden;
  overflow-x: hidden;
  color: rgb(206, 206, 206);
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  text-align: justify;
  border-bottom: 1px solid rgb(52, 52, 52);
  cursor: default;
  padding-bottom: 10px;
  line-height: 25px;
}
.text_card_name {
  font-size: 27px;
}
.text_card_show_btn{
width: 130px;
padding: 10px;
font-size: 20px;
background-color: rgb(78, 12, 93);
color: white;
border: none;
outline: none ;
cursor: pointer;
border-radius: 7px;
opacity: 0.8 ;
transition: 0.2s ease-in-out;
text-align: center;
}
.text_card_show_btn:hover{
  background-color: rgb(35, 1, 42); 
  }