.modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;


}
.modal_content {
  padding: 3rem;
  background: radial-gradient(ellipse farthest-corner at center , rgb(65, 15, 42) 0%, rgba(122, 7, 107, 0.1)100%);
  border-radius: 20px;
  box-shadow: var(--btn-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.modal.active {
  opacity: 1;
  pointer-events: all;

}

.modal_content.active {
  transform: scale3d(1, 1, 1);

}

.modal_top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.modal_btns_wrapper{
  display: flex;
  justify-content: center;
  gap: 50px
}
.modal_btn{
  width: 120px;
  margin-top: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  gap: 20px;
  background-color: var(--main-bg-op);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;    
}
.modal_btn:hover{
  background-color: rgb(49, 10, 87);
  color: darkorange;
}
.modal_btn_warn{
  width: 120px;
  margin-top: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  gap: 20px;
  background-color: var(--btn-color);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;     
}
.modal_btn_warn:hover{
  color: red;
  background-color: rgb(49, 10, 87);
}

.modal__close__container{
  text-align: right;
  span {
    cursor: pointer;
    &:hover {
      color: darkorange;
    }
  }
}
