$main-bg-color: rgb(34, 18, 37) ;
$bg-light:  rgb(65, 47, 61)  ;



:root {
  $main-bg-color: rgb(34, 18, 37) ;
  --bg-light:  rgb(65, 47, 61);
  --main-bg-color: rgb(34, 18, 37);
 
}

.climate-crisis-1979 {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}



body {
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fredericka+the+Great&display=swap');
  margin: 0 auto;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./pictures/background_psycho_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  min-width: 480px;
  overflow-x: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  counter-reset: contents_counter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_content_container {
max-width: 60%;
padding-right: 4rem;
color: white;
font-size: 16px;
padding-left: 4rem;
padding-bottom: 8rem;
margin: 0 auto;
min-height: 68vh;
margin-top: 2rem;
box-shadow: 3px 3px 6px 3px black;
padding-top: 2rem;  
background-color: $main-bg-color;
opacity: 0.98;

}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  /* width: 15rem; */
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #8721b6;
  height: 0.5rem;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: #8721b6;
  height: 0.5rem;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 12px;
  border-radius: 20%;  
}
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 12px;
}
input[type="range"]::-moz-range-progress {
  background-color: rgb(85, 3, 60); 
  height: 0.5rem;
  border-radius: 5px;
}
