
.texts__page__upper_wrapper h1{
  display: flex;
  justify-content: center;
}
.texts__page {
  background-color: var(--main-bg-color-op-main);
  border-radius:10px;
  padding-top: 2rem;
  padding-left: clamp(0.5rem, -0.857rem + 5.714vw, 6rem);
  padding-bottom: 2rem;
  padding-right: clamp(0.5rem, -0.857rem + 5.714vw, 6rem);;

  &__pagination__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    width: 100%;
  }
 
  &__text__info__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
    padding: clamp(0.2rem, -0.244rem + 1.87vw, 2rem);
    // box-shadow: var(--box-shadow-gl);
    background: radial-gradient(ellipse farthest-corner at center , rgb(63, 9, 38) 0%, rgba(82, 1, 48, 0.0) 100%);
    width: 70%;
   
    // width: 50%;
  }
  &__text__main__info__wrapper{
    display: flex;
    gap: 10px;
    
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--lilac-color);
    padding-bottom: 1rem;
    h4 {
      font-size: clamp(0.625rem, 0.471rem + 0.649vw, 1.25rem);
      margin: 0;
    }
    div {
      font-size: clamp(0.5rem, 0.346rem + 0.649vw, 1.125rem);  
    }
    
    
  }
  &__text__add__info {
    display: flex;
    gap:1rem;
    flex-direction: column;
    font-size: clamp(0.625rem, 0.563rem + 0.26vw, 0.875rem);
    div{
      display: flex;
      gap: 5px;
      width: 100%;
      span {
        display: flex;
        align-items: center;
      }
    }
    
    img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      object-fit: cover; 
    }
  }
  &__pagination__card{
    background-color: var(--dark-orange-op);
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 0.33rem + 0.455vw, 0.875rem);
    cursor: pointer;
    gap:10px;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: rgba(255, 140, 0, 0.486);
    }
  }
  &__pagination__card__Active {
    background-color: rgba(255, 140, 0, 1);
  }
  
  &__contents__container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    margin: 2rem auto;
    
    
  }
  &__not__found{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }

  &__input__container {
    height: fit-content;
    display: flex;
    
    
    width: calc(100% / 3)

    }
  &__input{
      border-radius: 10px;
      height: clamp(1.438rem, 1.283rem + 0.649vw, 2.063rem);
      font-size: clamp(0.75rem, 0.688rem + 0.26vw, 1rem);
      border: 1px solid var(--bg-light);
      color: white;
      padding: 5px; 
      width: 100%;
      background-color: transparent;
      &:focus {
        outline: 1px solid rgb(180, 101, 163);
        border-radius: 10px 0 0 10px;
      }
      &:focus +.texts__page__input__search__icon {
        background-color: rgba(56, 22, 44, 0.8);
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        border-radius: 0 10px 10px 0;
        outline: 1px solid rgb(180, 101, 163);
        object-fit: fill;
        cursor: pointer;
        font-size: 10px;
        z-index: 5;
      } 
      &::placeholder {
        font-size: clamp(0.75rem, 0.688rem + 0.26vw, 1rem);
        padding-left: 10px;
      }
      &__search__icon {
        display: none;
      }
    }

  &__search__wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

}

.text__page__links {
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin-top: 2rem;
}

.single__text__page__spinner__container{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .texts__page__input__container {
    width: calc(100%/2);
  }
  .texts__page__text__info__container{
    width: 95%;
    padding: 10px;
}

}