
.texts__page__upper_wrapper h1{
  display: flex;
  justify-content: center;
}
.texts__page {
  background-color: var(--main-bg-color-op-main);
  border-radius:10px;
  padding-top: 2rem;
  padding-left: clamp(0.5rem, -0.857rem + 5.714vw, 6rem);
  padding-bottom: 2rem;
  padding-right: clamp(0.5rem, -0.857rem + 5.714vw, 6rem);;

  &__pagination__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    width: 100%;
  }
 
  &__text__info__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
    padding: clamp(0.2rem, -0.244rem + 1.87vw, 2rem);
    box-shadow: var(--box-shadow-gl);
    // width: 50%;
  }
  &__text__main__info__wrapper{
    display: flex;
    gap: 10px;
    
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--lilac-color);
    padding-bottom: 1rem;
    h4 {
      font-size: clamp(0.625rem, 0.471rem + 0.649vw, 1.25rem);
      margin: 0;
    }
    div {
      font-size: clamp(0.5rem, 0.346rem + 0.649vw, 1.125rem);  
    }
    
    
  }
  &__text__add__info {
    display: flex;
    gap:1rem;
    
    flex-direction: column;
    font-size: clamp(0.625rem, 0.563rem + 0.26vw, 0.875rem);
    div{
      display: flex;
      gap: 5px;
      width: 100%;
    }
    
    img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      object-fit: cover; 
    }
  }
  &__pagination__card{
    background-color: var(--dark-orange-op);
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 0.33rem + 0.455vw, 0.875rem);
    cursor: pointer;
    gap:10px;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: rgba(255, 140, 0, 0.486);
    }
  }
  &__pagination__card__Active {
    background-color: rgba(255, 140, 0, 1);
  }
  
  &__contents__container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    margin: 2rem auto;
    
    
  }
  &__not__found{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }
    &__sort__container {
      display: flex;
      gap: 10px;
      justify-content: space-around;
      font-size: clamp(0.563rem, 0.485rem + 0.325vw, 0.875rem);
      background-color: var(--dark-orange-op);
      width: fit-content;
      padding: 10px;
      box-shadow: var(--box-shadow-gl);
      border-radius: 10px;
      cursor: pointer;
      margin: 1rem 0 1rem 0;
      
  }
    &__sort__item {
      transition: 0.2s ease-in-out;
      &:hover {
        color: darkorange;
      }
    }

  &__input__container {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    // width: 30%;
    gap:1rem;
    width: clamp(6.25rem, 3.166rem + 12.987vw, 18.75rem)

    }
  &__input{
      border-radius: 10px;
      height: clamp(1.438rem, 1.283rem + 0.649vw, 2.063rem);
      font-size: clamp(0.5rem, 0.377rem + 0.519vw, 1rem);
      border: 1px solid var(--bg-light);
      color: white;
      padding: 5px; 
      width: 100%;
      background-color: transparent;
      &:focus {
        outline: 1px solid rgb(180, 101, 163); 
      }
      &::placeholder {
        font-size: clamp(0.5rem, 0.377rem + 0.519vw, 1rem);
        padding-left: 10px;
      }
      &__search__icon {
        position: absolute;
        right:0;
        top:11px;
        object-fit: fill;
        cursor: pointer;
      }
    }

  &__search__wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

}

.text__page__links {
  display: flex;
 flex-direction: column;
  gap:2rem
}

.single__text__page__spinner__container{
  width: 100%;
  text-align: center;
}

