
.texts__page__upper_wrapper h1{
  display: flex;
  justify-content: center;
}
.texts__page {
  
  &__contents__container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    margin: 2rem auto;
  }
  &__not__found{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }
    &__sort__controls {
      width: 100%;
      display: flex;
      justify-content: space-around;
      background-color: var(--bg-light);
      border-radius: 10px;
      padding: 5px;
      margin: 2rem auto;
      & span { 
        font-size: 14px;
        transition: 0.2s ease-in-out;
        color: var(--lilac-color);
        cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: darkorange;
          }
      }
  }
  &__link {
    text-decoration: none;
    color: white;
    transition: 0.1s ease-in;
    &::before {
      counter-increment: contents_counter;
      content: counter(contents_counter) ". ";
    }
    &:hover {
      text-decoration: underline;
      color: darkorange;
    }
  }
  &__input__container {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:1rem;
    width: clamp(7.5rem, 4.81rem + 12.658vw, 20rem);

    }
  &__input{
      border-radius: 10px;
      height: 33px;
      font-size: 16px;
      border: 1px solid var(--bg-light);
      color: white;
      padding: 4px; 
      width: 100%;
      // width: 100%;
      background-color: transparent;
      &:focus {
        outline: 1px solid rgb(180, 101, 163); 
      }
      &__search__icon {
        position: absolute;
        right:0;
        top:11px;
        object-fit: fill;
        cursor: pointer;
      }
    }

  &__search__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__search__options__container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    padding: 10px;
    border-radius: 10px;
    
    :first-child {
      border-bottom: 1px solid gray;

    }
    & span {
      cursor: pointer;
      transition: 0.1s ease-in;
      &:hover {
        text-decoration: underline;
        color: darkorange;
      }
    }
  }
}

.single__text__page__spinner__container{
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;

  th {
    color: darkorange;
    border-bottom: 2px solid gray;
    padding-bottom: 1rem;
  }
  th:first-child {
    text-align: left;
  }
  th:nth-child(4) {
    cursor: pointer;  
  }
  th:nth-child(5) {
    cursor: pointer;
  }
  tr {
    text-align: center;
  }
  td {
    padding-top: 1rem;
    font-size: 14px;
    border-bottom: 1px dashed gray;
    padding-bottom: 1rem;
  }
& td:first-child {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
}

@media only screen and (max-width: 480px) {

  .texts__page__upper_wrapper h1 {
    text-align: center;
  }

  .texts__page {

    &__contents__container {
      width: 90%; // Adjust the width as needed
      margin: 2rem auto;
    }

    &__not__found {
      padding-top: 1rem;
    }

    &__sort__controls {
      flex-direction: column;
      align-items: center;
      padding: 5px;
      margin: 1rem auto;

      & span {
        margin-bottom: 5px;
      }
    }

    &__input__container {
      width: 90%; // Adjust the width as needed
    }

    &__input {
      height: 40px; // Adjust the height as needed
      font-size: 14px; // Adjust the font size as needed
    }

    &__search__options__container {
      padding: 5px;
      & span {
        margin-bottom: 5px;
      }
    }

    .single__text__page__spinner__container {
      width: 90%; // Adjust the width as needed
      margin: 0 auto;
    }

    table {
      th {
        font-size: 14px; // Adjust the font size as needed
      }

      td {
        font-size: 12px; // Adjust the font size as needed
      }
    }
  }
}