
.auth_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:clamp(12px, 1vw, 42px);
  width: clamp(346px, 36vw, 900px);
  min-width: 40%;
  margin-top: 20px;
  border-radius: 15px;

  box-shadow: 0 0 12px 10px rgba(14, 0, 14, 0.3);
}
.auth_backbtn {
  width:100%;
  display: flex;
  align-items: center;
  gap:1rem;
  padding-left: 50px;
}

.auth_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  box-shadow: 0 0 12px 10px rgba(14, 0, 14, 0.3);
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}



.auth_input {
  height: 2rem;
  width: 50%;
  font-size: 14px;  
  border-radius: 10px;
  outline-color: rgb(42, 3, 78);
  padding-left: 20px;
  padding-right: 20px;
  border: 1px white solid;
  background-color: transparent;
  color: white;
}
.auth_sign_btn{
  width: 50%;
  margin-top: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  gap: 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;
  background-color: var(--btn-color);
  color: white
}
.auth_sign_btn:hover{
color: darkorange;

}
.auth_top{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  align-items: center;
}
.auth_main {
  display: flex;
  justify-content: center;
}
.auth_req {
  color: violet;
  font-size: 14px;
  vertical-align: super
}
.auth_sign_btn_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  height: fit-content;
}

.auth_sign_btn_wrapper {
  height: 35%;
  vertical-align: baseline;
  position: relative;
}


.auth_user_info{
  display: flex;
  gap: 1rem;
  padding:clamp(12px, 1.5vw, 42px);
  margin-bottom: 20px;
  justify-content: space-around;
  box-shadow: 0 0 12px 10px rgba(14, 0, 14, 0.3);
  border-radius: 10px;
  width: 80%;

}
.auth_user_avatar{
  width: clamp(70px, 10vw, 197px);
  /* height: 100%; */
  min-height: 20px;
  float: left;
  border-radius: 10px;
  object-fit: cover;
}

.auth_user_info_name{
  font-size: clamp(16px, 1.5vw, 27px);
  font-weight: 600;
}
.auth_user_info_name_wrapper{
  display: flex;
  flex-direction: column;
  gap:40px;
  width: 100%;
}
.auth_user_info_name_top{
  display: flex;
  flex-direction: column;
  gap:6px;
  align-items: center;
}
.auth_user_info_edt_btns_wrapper{
  display: flex;
  justify-content: space-around;
}
.auth_user_info_edt_btn{
  max-width: 150px;
  width: clamp(12px, 45%, 8rem);
  padding: 10px;
  margin-top: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px, 1.2vw, 14px);
  cursor: pointer;
  gap: 10px;
  background-color: var(--btn-color);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px 1px;
  border: none;    
}
.auth_user_info_edt_btn:hover {
  color: darkorange;
}
.auth_small{
  color: darkorange;
}
.auth_clear_btn{
  background-color: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  color: white;
  opacity: 0.1;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 100%;
  padding: 10px;
  visibility: hidden;
}

.auth_clear_btn_Active{
  background-color: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 0.4;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 100%;
  padding: 10px;
  visibility:visible
}

.auth_clear_btn_Active:hover{
  background-color: var(--bg-light);
  color: white;
  opacity: 0.6;
}

.auth_form_labels{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 78px;
  width: 40%;
}
.auth_form_inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.auth_form_clear_btns_wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem ;
  height: 88px;
  justify-content: space-around;
}
.auth_form_user{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.auth_label{
  width:110px;
}
.auth_updated{
  opacity: 0;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  
}
.auth_updated_Active{
  opacity: 1;
}
.auth_edit_top_wrapper{
  text-align: center;
  width: 100%;
  color: darkorange;
}

.spinner_container{
  position: absolute;
  right:100px;
  bottom:0;
}

.inputs__container{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin: 0 auto;
  width: clamp(40px, 70%, 720px);
  margin-top: 20px;
}
label{
  width: clamp(40px, 30%, 160px);
  font-size: clamp(12px, 1vw, 16px);
  
}

.single__input__wrapper {
  display: flex;
  align-items: center;
  width: clamp(240px, 35vw, 470px);
  gap:10px
}

.input{
  height: 2rem;
  max-width: 450px;
  width: clamp(120px, 20vw, 400px);
  font-size: 14px;  
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px white solid;
  background-color: transparent;
  color: white;
}

.input:focus {
  outline: 1px solid rgb(180, 101, 163); 
}
.show__error__container{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.errors__container{
  height:40px;
  display: flex;
  flex-direction: column;
  gap:10px
}
